* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f7f5;
}

.container-sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f2f7f5;
}

.story-telling {
  background-color: #f2f7f5;
  font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  color: #475d5b;
  font-family: sans-serif;
}

.div-card {
  background-color: #f2f7f5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgba(235, 235, 235, 0.16),
    0 2px 10px 0 rgba(182, 174, 174, 0.12);
}

.image-card {
  flex: 0 1 300px;
  border-radius: 5px;
  background-color: #f2f7f5;
}

.container-description {
  flex: 1 1 auto;
  display: flex;
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  color: #475d5b;
  font-family: sans-serif;
}

.my-test {
  font-size: 1.2rem;
  font-weight: 500;
  color: #475d5b;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0;
  font-family: sans-serif;
}

.text-family {
  animation: typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
  overflow: hidden;
  color: #475d5b;
  letter-spacing: .15rem;
  border-right: .2em solid #475d5b;
    font-size: 1.2rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: center;
  color: #475d5b;
  margin-top: 20px;
  background-color: #f2f7f5;
  font-family: sans-serif;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #475d5b;
  }
}

.tecnologias {
  font-size: 1.2rem;
  font-weight: 500;
  color: #202f2e;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0;
  text-decoration: underline;
  font-family: sans-serif;
}

.plataformas {
  font-size: 1.2rem;
  font-weight: 500;
  color: #202f2e;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0;
  text-decoration: underline;
  font-family: sans-serif;
}

.techs-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.platform-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}

.projects-span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #202f2e;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px 0;
  font-family: sans-serif;
}

.projects-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}