body {
  background-color: #f2f7f5;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #475d5b;
}

.container-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heart-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
  color: red;
}

.text-family {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #475d5b;
  margin-top: 20px;
}

.card {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgba(235, 235, 235, 0.16), 0 2px 10px 0 rgba(182, 174, 174, 0.12);
}

.home-container {
  margin-top: 20px;
}