* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f7f5;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #475d5b;
  background-color: #f2f7f5;
}

.container-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.heart-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
  color: red;
}

.text-family {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: center;
  color: #475d5b;
  margin-top: 20px;
  background-color: #f2f7f5;
}

.card {
  background-color: #f2f7f5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgba(235, 235, 235, 0.16),
    0 2px 10px 0 rgba(182, 174, 174, 0.12);
}

.home-container {
  margin-top: 20px;
  background-color: #f2f7f5;
}

.back {
  background-color: #f2f7f5;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-shadow: 0 2px 5px 0 rgba(235, 235, 235, 0.16),
    0 2px 10px 0 rgba(182, 174, 174, 0.12);
}

div {
  background-color: #f2f7f5;
}