* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f7f5;
}

.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.name {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #475d5b;
  background-color: #f2f7f5;
}

.container-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.section-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.heart-family {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
  color: red;
  padding: 20px;
}

.family-text {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  justify-content: center;
  color: #475d5b;
  margin-top: 20px;
  background-color: #f2f7f5;
}

.carde {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
}

.home-container {
  margin-top: 20px;
  background-color: #f2f7f5;
}

.carde {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f7f5;
  padding: 50px;
}
