* {
  font-family: sans-serif;
}

.tec-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.tech-icon {
  flex: 0 1 auto;
  border-radius: 5px;
  background-color: #f2f7f5;
  box-shadow: 0 2px 5px 0 rgba(235, 235, 235, 0.16),
    0 2px 10px 0 rgba(182, 174, 174, 0.12);
    width: 30px;
    margin-right: 5px;
}

.test-library {
  color: red;
  margin-right: 5px;
}

.bootstrap {
  color: rgb(116, 4, 124);
  margin-right: 5px;
}

.api {
  color: rgb(22, 169, 3);
  margin-right: 5px;
}

.api-consumer {
  color: rgb(11, 135, 135);
  margin-right: 5px;
}

.mysql {
  color: rgb(13, 122, 195);
  margin-right: 5px;
}